body {
  font-family: sans-serif;
}

.main {
  margin: 60px auto;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
}

/* AddTodo */
input[type="text"],
input[type="date"] {
  padding: 6px 12px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  color: black;
  margin: 20px 10px 10px 0;
}

input[type="button"] {
  padding: 6px 22px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  background-color: #48bb78;
}

.TodoSectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.TodoSectionTitle-Text {
  color: #453c52;
  letter-spacing: 0.1px;
}

.TodoSectionTitle-RemainingCount,
span,
i {
  color: #453c52;
  font-size: 12px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 15px;
}

li {
  font-size: 14px;
  color: #453c52;
  letter-spacing: 0.1px;
  padding-bottom: 7px;
  /* width: 35%; */
  width: fit-content;
}

input[type="checkbox"] {
  background-color: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
}

.DueToday span {
  color: red;
}

i {
  margin-right: 7px;
  visibility: hidden;
}

li:hover {
  background-color: #e1e5ea;
}

li:hover i {
  visibility: visible;
}
