.homeTitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.homeAuthenticate {
  margin-bottom: 20px;
  font-size: 16px;
}

.userHeader {
  padding: 10px;
  background-color: lightgray;
  font-size: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flashError {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}
